<%# Navbar title %>
<% content_for :navbar_title, "Groups - Categories" %>

<p style="color: green"><%= notice %></p>

<h1>Groups</h1>

<div class="d-flex flex-row-reverse">
  <%= link_to new_group_path, class: "btn btn-primary" do %>
    <%= content_tag :i, nil, class: "bi bi-plus-circle-fill" %>
    New group
  <% end %>
</div>

<div id="groups">
  <% @groups.each do |group| %>
    <%= render group %>
    <p>
      <%= link_to "Show this group", group %>
    </p>
  <% end %>
</div>
