<%= render partial: 'shared/header', locals: { heading: 'FORGOT PASSWORD?', path: request.path } %>

<%= render 'shared/flash' %>

<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post, class: 'form' }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field">
    <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "Email", class: "form-field" %>
  </div>

  <div class="actions checkbox-btn">
    <%= f.submit "Send me reset password instructions", class: "btn splash-login" %>
  </div>
<% end %>

<div class="form-links">
  <%= render "devise/shared/links" %>
</div>
