<%= render partial: 'shared/header', locals: { heading: 'LOG IN', path: request.path } %>

<%= form_for(resource, as: resource_name, url: session_path(resource_name), html: { class: 'form' }) do |f| %>
  <div class="field">
    <%= f.email_field :email, autofocus: true, autocomplete: "off", placeholder: "Email", class: "form-field" %>
  </div>

  <div class="field">
    <%= f.password_field :password, autofocus: false, autocomplete: "off", placeholder: "Password", class: "form-field" %>
  </div>

  <div class="checkbox-btn">
    <% if devise_mapping.rememberable? %>
      <div class="field">
        <%= f.check_box :remember_me %>
        <%= f.label :remember_me %>
      </div>
    <% end %>

    <div class="actions">
      <%= f.submit "Log in", class: "btn splash-login" %>
    </div>
  </div>

<% end %>

<div class="form-links">
  <%= render "devise/shared/links" %>
</div>
