<%= form_with(model: expense) do |form| %>
  <% if expense.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(expense.errors.count, "error") %> prohibited this expense from being saved:</h2>

      <ul>
        <% expense.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= form.hidden_field :user_id, value: current_user.id %>

  <div class="mb-3">
    <%= form.label :name, style: "display: block" %>
    <%= form.text_field :name, autofocus: true, placeholder: 'Add new transaction' %>
  </div>

  <div class="mb-3">
    <%= form.label :amount, style: "display: block" %>
    <%= form.text_field :amount, autofocus: true, placeholder: 'Add amount' %>
  </div>

  <%= form.label :group_id %>
    <%= form.select :group_id, options_for_select(Group.all.map { |g| [g.name, g.id] }), {}, class: "form-control" %>

  <div>
    <%= form.submit %>
  </div>
<% end %>
